<footer>
    <div class="container-footer">
        <div class="column1">
            <img id="footer-logo"
                 alt="Logo empresa"
                 class="logo">
            <h3>Quality Industrial Services S.A.S</h3>
            <p>NIT: 901070067</p>
            <p>Carrera 6a N 13 - 36</p>
        </div>

        <div class="menu-footer-products">
            <h3 class="tittle-footer">Servicios</h3>
            <ul class="nav-footer">
                <li><a id="footer-serv-1">Ingeniería</a></li>
                <li><a id="footer-serv-2">Línea petrolera</a></li>
                <li><a id="footer-serv-3">Remanufactura</a></li>
                <li><a id="footer-serv-4">Tratamiento de agua</a></li>
            </ul>
        </div>

        <div class="menu-footer-pages">
            <h3 class="tittle-footer">Navegación</h3>
            <ul class="nav-footer">
                <li><a id="footer-inicio">Inicio</a></li>
                <li><a id="footer-servicios">Servicios</a></li>
                <li><a id="footer-sobre">Sobre Nosotros</a></li>
                <li><a id="footer-contacto">Contacto</a></li>
            </ul>
        </div>

        <div class="social-icons-footer">
            <h3 class="tittle-footer">Contacto</h3>
            <a href="https://wa.me/573232326883">WhatsApp</a>
            <a id="footer-correo">Correo electrónico</a>
        </div>
    </div>

    <div class="certifications-horizontal">
        <ul class="certifications-list-horizontal">
            <li><img id="iso9001" class="certification-image"></li>
            <li><img id="iso14001" class="certification-image"></li>
            <li><img id="iso45001" class="certification-image"></li>
        </ul>
    </div>

    <div class="menu-footer-copyright">
        <p>© Quality Industrial Services S.A.S. Todos los derechos reservados.</p>
    </div>
</footer>