<header>
    <div class="header-container">
        <div class="divlogo">
            <a id="link-inicio">
                <img id="logo-img"
                     alt="Logo Quality Industrial Services"
                     class="logo">
            </a>
        </div>

        <nav>
            <ul class="nav-list">
                <li><a id="nav-inicio">Inicio</a></li>
                <li><a id="nav-servicios">Servicios</a></li>
                <li><a id="nav-sobre">Sobre Nosotros</a></li>
                <li><a id="nav-contacto">Contacto</a></li>
            </ul>
        </nav>

        <div class="social-icons-header">
            <a href="https://wa.me/573232326883">WhatsApp</a>
        </div>

        <div class="menu-icon" id="menu-icon">
            ☰ 
        </div>
    </div>
</header>